<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    
    <connectionStrings>
        <add name="ConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BazaKsiazek.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <sessionState mode="InProc"/>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
     <authentication mode="Forms">
      <forms loginUrl="Logowanie.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    </system.web>

        <appSettings> 
          <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" /> 
        </appSettings>
                

</configuration>
